#main-container
{
    /* background-image: url('/img/credits-bg4-small.png'); */
    display: flex; justify-content: center; align-items: center;
	transition: var(--fade-in);
}

#credits 
{
	position: relative; top: -3%;
	width: 50vw; height: auto; padding: 5%;
	font-size: 14px; 
	text-align: center;
	/* color: #f1f1f1;
	text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff; */
}

/***************** credits end *****************/