/*properties shared by both main page and credits page*/

@font-face 
{
	font-family: "LoveLetter";
	src: url("/fonts/LoveLetter.TTF") format("truetype");
}

@font-face
{
	font-family: "Input-Mono";
	src: url("/fonts/Input-Regular_(InputMonoNarrow-Regular).ttf") format("truetype");
}

body 
{
	--bg-color: #e1e4eb;
	background-color: var(--bg-color); 
	margin: 0px;

	--mono-font: "Input-Mono", "Courier New", monospace;
	--lain-font: "LoveLetter", "Courier New", monospace;

	--text-glow-shadow: 0 0 4px #ffffff, 0 0 13px rgba(255, 255, 255, 0.5);
	--purple-highlight-color: #383896;

	--fade-in: opacity 0.7s ease-out; /*used by entry div and credits page*/
}

#main-container
{
	width: 100vw; height: 100vh;
	font-family: var(--mono-font); 
    background-repeat: no-repeat;
}

/*mobile / portrait display*/
@media (max-aspect-ratio: 4/3) 
{
	#main-container
	{
		background-size: auto 100vh;
		background-position: 50% 0%;
	}
}

/*desktop / landscape display*/
@media (min-aspect-ratio: 4/3) 
{
	#main-container
	{
		background-size: 100vw auto;
		background-position: 0% 55%;
	}
}

p, label, button, option, ul, a
{
	font-family: var(--mono-font);
	color: black;
}