@font-face 
{
	font-family: "LoveLetter";
	src: url("/fonts/LoveLetter.TTF") format("truetype");
}

body, p, label, button, option
{
	font-family: "LoveLetter", "Courier New", monospace;
}

body 
{
	background-color: black;
}

p
{
	color: whitesmoke;
}

label
{
	color: whitesmoke;
}

hr 
{
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid whitesmoke;
   border-bottom: 1px solid whitesmoke;
}


#entry-page
{
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center; 
	align-items: center;
	transition: opacity 0.7s ease-out;
	z-index: 7;
	top: 0;
	left: 0;
	background-color: whitesmoke;
}

#main-container
{
	position: relative;
	display: flex;
	justify-content: center; 
	align-items: center;
}

#player-container
{

}

#play-pause-btn
{
	width: 120px;
}

#prev-btn
{

}

#next-btn
{

}

#progress-bar-container
{
	width: 250px;
	height: 13px;
	background-color: whitesmoke;
}

#progress-bar-fill
{
	max-width: 250px;
	width: 0px;
	height: 13px;
	background-color: violet;
}











