@font-face 
{
	font-family: "LoveLetter";
	src: url("/fonts/LoveLetter.TTF") format("truetype");
}

@font-face
{
	font-family: "Input-Mono";
	src: url("/fonts/Input-Regular_(InputMonoNarrow-Regular).ttf");
}

p, label, button, option, ul
{
	font-family: "LoveLetter", "Courier New", monospace;
	color: black;
}

body 
{
	background-image: url("img/bg1.png");
	background-repeat: no-repeat;
/*	background-size: 100%;
*/	background-color: whitesmoke;
	margin: 0px;
}

/*bg lain pic and entry pic for mobile / portrait display*/
@media (min-aspect-ratio: 1/16) {
	body
	{
		background-size: auto 100vh;
		background-position: 50% 0%;
	}
	#entry-img
	{
		left: 50%; top: 50%;
		width: 60vw; height: auto;
	}
	#icons-container {width: 400px; height: 90px;}
}

/*bg lain pic and entry pic for desktop / landscape display*/
@media (min-aspect-ratio: 4/3) {
	body
	{
		background-size: 100vw auto;
		background-position: 0% 25%;
	}
	#entry-img
	{
		 left: 50%; top: 50%; 
		 height: 55vh; width: auto;
	}
	#icons-container {width: 600px; height: 80px;}
}

hr 
{
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid darkgray;
   border-bottom: 1px solid darkgray;
}

/*
z-index: 
entry page 		111
window close	9
window drag 	8
active window 	7
inactive window 6, 5
*/

#entry-page
{
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center; 
	align-items: center;
	transition: opacity 0.7s ease-out;
	z-index: 111; 
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: whitesmoke;
}

#entry-texts
{
	position: fixed; 
	color: black; 
}

#main-container
{
	position: fixed; 
	display: flex;
	justify-content: center; 
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*background-image: url("img/extended background_simple.png");
	background-repeat: no-repeat;
	background-size: 100%;*/
}

/***************** mini windows /*****************/
.mini-window
{
	position: absolute;
	top: 33%;
	left: 50%;
/*	width: 300px;
	height: 380px;*/
	background-color: gainsboro;
	z-index: 5;

	border-radius: 10px;
	box-shadow:  -3px -3px 6px dimgray inset, 3px 3px 6px dimgray inset;
}

.mini-window-draggable
{
	position: relative;
/*	top: 0px;
	left: 0px;
	right: 0px;*/
	width: 100%;
	height: 100%;
	cursor: grab;
/*	background-color: violet;
	opacity: 0.2;*/
}

/******* chat *******/
#chat-window
{
	display: flex;
	justify-content: center; 
	align-items: center;
	width: 316px; height: 428px; /*todo make smaller size for mobile 640x480 x0.66*/
	top: 5%; right: 13%;
	z-index: 5;
}

#chat-container
{
	font-family: "Input-Mono", monospace; font-size: 13px !important; 
	position: absolute;
	width: 250px;
	height: 350px;
	top: 10%; bottom: 4%;
}
/******* chat *******/

/******* terminallllllll *******/
#terminal
{
	font-family: "Input-Mono", monospace; font-size: 13px; 
	top: 13%; left: 7%;
	width: 493px; height: 369px; /*todo make smaller size for mobile 640x480 x0.77*/
	z-index: 6;
}

#terminal-txt-container
{
	font-family: "Input-Mono", monospace; font-size: 13px; 
	position: absolute;
	left: 3%; top: 11%; bottom: 5%;
	width: 94%; height: 80%;
	background-color: black;
	overflow-y: scroll;
	z-index: 7; /*in case it gets occluded by input are*/
}
/*hide scroll bar inside terminal but still scrollable*/
#terminal-txt-container::-webkit-scrollbar {display: none;}

#terminal-input-container
{
	font-family: "Input-Mono", monospace; font-size: 13px; 
	position: absolute; 
	width: 94%;
	left: 3%; right: 3%; bottom: 4%;
	background-color: transparent; /*in case it gets occluded by input are*/
}

#input-bg /*fills in the transparent gap*/
{
	position: absolute; 
	width: 94%; height: 30px;
	left: 3%; right: 3%; bottom: 3%;
	background-color: black;
}

#terminal-display /*shows submitted texts*/
{
	position: absolute; 
	color: whitesmoke;
	font-family: "Input-Mono", monospace; font-size: 13px; 
	margin: 0px;	
}

#terminal-prompt 
{
	font-family: "Input-Mono", monospace; font-size: 13px; 
	position: absolute; color: whitesmoke; 
	margin-top: 4px; /*so it aligns with the fake caret*/
	/*margin-left: 4px;*/
}

#fake-caret 
{
	position: absolute;
	margin-left: 111px; /* prompt length */
	width: 11px;
	animation: blink 1s step-end infinite;
  	border-bottom: 2px solid whitesmoke;
}

@keyframes blink {
	from,
	to {border-color: transparent;}
  	50% {border-color: whitesmoke;}
}

#terminal-input
{
	font-family: "Input-Mono", monospace; font-size: 13px; 
	color: whitesmoke;
	background-color: black; width: 100%;
	padding: 0px;
	border-width: 0px;
	text-indent: 111px; /* prompt length + prompt left margin */
	margin-top: 4px; /*so it aligns with the fake caret*/
	caret-color: transparent;
}

/*hide input box border when selected*/
#terminal-input:focus {
    outline: none !important;
}
/******* terminallllllll *******/


.mini-window-close
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 27px; height: 27px;
/*	z-index: 9;
*/	background-color: black;
	opacity: 0.3;
}

#dock-container
{
	position: absolute;
	display: flex;
	justify-content: center; align-items: center;
	bottom: 9%;
	width: 100%; height: 55px;
}

#icons-container /*adaptive size*/
{
	position: absolute;
	display: flex; flex-direction: row;
	align-items: left; justify-content: center;
	top: 0;
	background-image: url("img/test-dock50.png");
	background-size: 100%; background-position: 0;
}
.icon 
{
	display: none;
	width: 49px; height: 49px; margin: 5px;
	cursor: pointer;
/*	opacity: 77%;*/
}

/******* music player *******/
#music-player
{
	font-family: "LoveLetter"; font-size: small; color: black; 
	background-color: transparent;
	box-shadow: none;
	background-image: url("img/player-mockup.png");
	background-repeat: no-repeat;
	background-size: 100%; 
	width: 500px;
	height: 620px;
	top: 3%;
	left: 20%;
	z-index: 7;
}

/*standard bg for testing: lightgray opacity 0.3/0.7*/

#now-playing-container
{
	position: absolute;
	left: 39%; right: 11%; top: 6%; bottom: 88%;
	width: auto; height: auto;
	overflow: hidden;
	background-color: lightgray; 
	opacity: 0.3;
}

#now-playing-static {position: absolute; margin: 0; margin-top: 3px; z-index: 33;}

#now-playing 
{
	position: absolute;
	display: flex;
	margin-top: 3px;
	width: auto; height: 100%;
	animation: scrollTextWrap 7s linear infinite;
}

.now-playing-marquee
{
	position: relative;
	width: auto; height: 100%; margin: 0;
	margin-left: -100%; left: 0;
	white-space: nowrap;
	background-color: transparent;
	animation: scrollText 7s linear infinite;
}

/*animate the two elements at same time 
so that texts of variable lengths can be scrolled*/
@keyframes scrollTextWrap
{
/*	from {margin-left: 100%;}
    to {margin-left: 0%;}*/
    from {left: 100%;}
    to {left: 0;}
}
@keyframes scrollText
{
/*	from {transform: translateX(100%);}
  	to {transform: translateX(-100%);}*/
  	from {left: 100%;}
/*  	50% {left: 0;} 
*/ to {left: 0;}
}

#cur-time-container
{
	position: absolute;
	left: 15%; right: 61%; top: 6%; bottom: 83%;
	width: auto; height: auto;
	background-color: lightgray;
	opacity: 0.3;
}

.cur-time, #old-total-time
{
	color: whitesmoke; margin: 5px; font-family:Input-Mono; font-size: small;
}

#playback-controls
{
	position: absolute; display: flex;
	left:7%; top: 23%; bottom: 73%;
/*	background-color: lightgray;
	opacity: 0.3;*/
}
#playback-controls button {width: 54px;}

#playlist-container
{
	position: absolute;
	color: whitesmoke;
	left: 19%; right: 13%; bottom: 15%; top: 57%;
	width: auto; height: auto;
	background-color: lightgray;
	opacity: 0.8;
	overflow-y: scroll; overflow-x: hidden;
}

#playlist-content {list-style-type: none; color: black; padding-left: 13px;}

.playlist-entry
{
	margin: 6px;
	cursor: pointer;
}

.playlist-entry:hover{
	background-color: lavender !important;
	box-shadow: 3px 2px 2px black;
}

#mini-display-container
{
	position: absolute;
	left: 55%; right: 16%; bottom: 2%; top: 90%;
	background-color: lightgray;
	opacity: 0.5;
}

#mini-total-time
{
	position: absolute; top: 2%; left: 3%; margin: 0; 
	font-family: Input-Mono, monospace; font-size: 11px !important; color: black;
}

#mini-cur-time
{
	position: absolute;
	font-family: Input-Mono, monospace; font-size: 11px !important; color: black;
	bottom: 2%; right: 3%;
}
/******* music player *******/

/******* version history *******/
#version-history-window{width: 426px; height: 316px;}

#version-history-container
{
	position: absolute;
	width: 90%; height: 80%;
	left: 5%; top: 14%;
	background-color: whitesmoke;
}

#version-history-texts
{
	position: absolute; top: -2%; left: 3%;
}
/******* version history *******/

/***************** mini windows /*****************/

/***************** old music player *****************/


/*#volume-slider, .long-slider
{
	-webkit-appearance: none;
	background: whitesmoke;
	outline: none;
}*/

#temp-toggle
{
	position: absolute;
	left: 0%;
	bottom: 0;
	width: 200px;
	height: 50px;
	font-family: LoveLetter; font-size: small; color: black; text-align: center;
	background-color: lightgray;
	opacity: 0.4;
	cursor: pointer;
}

#temp-bg-audio-toggle
{
	position: absolute;
	left: 0%;
	bottom: 15%;
	width: 200px;
	height: 50px;
	font-family: LoveLetter; font-size: small; color: black; text-align: center;
	background-color: lightgray;
	opacity: 0.4;
	cursor: pointer;
}
#biquad-prompt:hover #biquad-tips{opacity: 1;}

#biquad-tips {
	position: absolute; right: 120%;
	margin: 7px; padding: 5px; width: 144px;
	font-size: small; word-wrap:break-word;
	background-color: darkgray; color: black; 
	opacity: 0;
}

#old-playlist-container
{
	position: absolute;
	top: 0;
	right: 0;
	width: 444px;
	height: 400px;
	background-color: darkgray;
	opacity: 0.9;
	overflow: auto;
}

#old-playlist-content
{
	list-style-type: none;
}

#old-player-container 
{position: absolute; top: 0; display: none; color: black !important;}

#old-play-pause-btn {width: 120px;}

.long-slider {width: 300px;}

#progress-bar-container
{
	margin: 8px; background-color: lightgray; 
	width: 210px;
	height: 10px;
}

#progress-bar-fill
{
	max-width: 210px;
	width: 0px;
	height: 10px;
	background-color: violet;
}
/***************** old music player *****************/
