{% extends "_base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="style.css">

<title>404 - lain OS is online</title>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="../favicons/v2/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../favicons/v2/favicon-32x32.png">


{% endblock %}

{% block body %}

<style>
	body {
		background-color: black;
		color: white;
	}
	a { color: white; }
	#main-container {
		display: flex; justify-content: center; align-items: center;
	}
	
</style>

<div id="main-container">
	<p style="text-align: center;">
		there's nothing here...<br>
		<br>
		<a href="index.html">take me home</a>
	</p>
</div>

{% endblock %}
