{% extends "_base.html" %}

{% block head %}

<link rel="preload" href="fonts/JuliaMono-Regular.ttf" as="font" crossorigin>
<link rel="preload" href="fonts/JuliaMono-ExtraBold.ttf" as="font" crossorigin>

<link rel="stylesheet" type="text/css" href="style.css">
<title>lainboot - lain OS is online</title>

{% endblock %}

{% block body %}

<style>
    body {
        font-family: "JuliaMono", "Courier New", monospace;;
        background-color: black;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
    }
    #main-container {
        display: flex; align-items: center; justify-content: center;
        flex-direction: column;
    }
    ul {
        width: 100vw;
        list-style-type: none; 
        margin: 0; padding: 0;
        text-align: left;
    }
    li { padding: 12px; }

    li:hover, .highlighted {
        background-color: grey;   
        color: white;
        cursor: pointer;
    }
    li span {
        float: right;
    }
    /* a {
        text-decoration: none;
        color: unset;
    } */
    #jukebox-ascii {
        position: absolute;
        right: 5%;
        top: 10%;
        font-family: "JuliaMono", "Courier New", monospace;
        font-size: 12px;
        margin: 0;
        user-select: none;
        pointer-events: none;
    }

</style>

<div id="main-container">
	<p>lainboot 20241015 release</p>
    <ul id="boot-options">
        <li>lain OS vol. 1<span>/v1</span></li>
        <li>lain OS vol. 2<span>/v2</span></li>
        <li>power off<span>?</span></li>
    </ul>
    <div style="position: absolute; left: 10px; bottom: 5px; background-color: black; z-index: 3;">
        <p>use arrow keys to select highlighted entry</p>
        <p>press enter to boot the selected OS</p>
    </div>
</div>

<pre id="jukebox-ascii">
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                           -..:-+*#          
                                                          . .=******         
                                                        -. :+***+****        
                                                       =  :***  ++***        
                                                      - .-**+--*+++***       
                                                     =  :*+-=****++***       
                                                     ..:++-+*###******       
                                                    ..:=*=+*####*****#       
                                                   :..-++=*######*++*#       
                                                   :.-+*=#####%##*****       
                                                  :::=++*#####%###****       
                                                  -.-+++*#########++*#       
                                                  ::=++**####+*###=+**       
                                                  :-+++**### **###***        
                                               ::..-=+***###++*###           
                                              -:.....-+**##*++####           
                                              =======+***##+=*###            
                                              =======+***#######%            
                                              +=====++***#######     :...:-  
                                              +++++++***#######      .....:  
                                              *++++*****#######      :....:  
                         -..:.           .   .:==+*****#######      #......  
                      -..                         .:-*#######       =....:-  
                    -.      .                        .. ##          =....::  
                   :                               .   .            :.....:  
                  =.             .           .   .      :           -......  
                  +..              .             .......=        =:......-=  
                   +.              .    ...............=*     +-.......:+**  
                   **+..       ......................-+*   =:........:+***   
                   *****=:.......................:-+****  **+-:....:+***#    
                   **********+=--::::::::::--=++********  *******=+***#      
                     **********************************   #*********#        
                      #******************************        #*****          
                         #************************                           
                               *#*********##*                                
</pre>


<!-- <pre>
 ..               . .                       .
 .   .  .                         .            .
             .    .-+*#%@@%%%%#*+=:.   .    .
..               .-+#%#+===============                   .
       . .  .:*%*+====================-.
          :%*=========================.        .   .    .
        :#+=======:..=####*++=---========-:.
       .+=====.. -#*+=---------------=========-.
      .+==+=.  :#=------------=--=======-------==:
.   .==++.   ==-------------=------------------==.
     -=++=. .=---===========--::-========--------=.  .
    . -+++=. :++++++++++++*-.     .#+++++++=======. .  .
       :++++*:.=**+++++++==+*######*=============:
         :++++*#--+*+++++++++==================-.
    .      .-+**+*#@%*++++++++==============:.        . .
              ..-+******#%@@@@%%%%%%#:.... .   ==:.    .
.  .         .  .  ..:-=++**@@@@@@@@%..  .    .+*%+  .
            ..  .  .-=+++=::+++======.        .===:
      .      .:-=%@@@@%+========-:.    .  .   .===:    .
          ..-==*@@@@#===============.         .===-
          :+===@@@@%=================:        :===-
          -===+@@@@#================##   .   .-===-
          :===+@@@@@================#-    .=======:    ..
          .====%@@@@#================: :=========-.
.         .=====+#%@@*===============. -=======-.
      .    .-======================-.  .-=====.    .
            .:-=================:.      .-.:
.   .          .     .:--------:.   .
.            .                               .         .
.                             .       .
</pre> -->


<script>
    let bootIndex = 1 // vol 2 is selected by default
    let bootOptions = document.getElementById("boot-options").getElementsByTagName("li")
    let optionsCount = bootOptions.length

    for (let i = 0; i < bootOptions.length; i++) {
        bootOptions[i].addEventListener("click", () => {
            bootIndex = i
            updateHighlight()
            osStart()
        })
    }
    
    updateHighlight()

    function updateHighlight() {
        for (let i = 0; i < optionsCount; i++) {
            let curElement = bootOptions.item(i)
            if (i == bootIndex) {
                curElement.classList.add("highlighted")
            }
            else {
                curElement.classList.remove("highlighted")
            }
        }
    }

    function loadPage() {
        switch(bootIndex) {
            case 0:
                window.location.href = "/v1"           
                break
            case 1: 
                window.location.href = "/v2"           
                break
            case 2: 
                window.location.href = "/offline.html"           
                break
        }
    }

    window.onkeydown = (e)=> {
        // e.preventDefault()
        switch(e.key) {
            case "Enter":
                osStart()
                break
            
            case "ArrowUp":
                bootIndex = bootIndex - 1 < 0 ? 0 : bootIndex - 1
                updateHighlight()
                break
            
            case "ArrowDown":
                bootIndex = bootIndex + 1 > optionsCount - 1 ? optionsCount - 1: bootIndex + 1
                updateHighlight()
                break
        }
    }


    // jukebox

    const jukeboxFrames = [

        // frame 23 
        `
                                                : :=***+--+**==++***         
                                               - :=***-:+####*+++***         
                                               ..+***--*######****           
                                              ..=+**-=*####****#             
                                             -.-***+-*###########            
                                             ..+***=+############            
                                            ::-***+=##%%#########            
                                            ::=***+*#%%%%########            
                                            :-+***+*####%########            
                                           --=***+*#######**#####            
                                           --+***+*######***#####            
                                           =-+***+*##### =+*####             
                                           -=+*****##### ==*##*#             
                                           =+++***#####**+*###*#             
                                           -+++*+*######*+*####              
                                           -+++++*#######*#####              
                                           -+++++***###########              
                                           ==+++++****########               
                                           ===++++*****######                
                                           ====++=+*****####                 
                                           =====++=******##                  
                                            =--=+*==+****#                   
                                            +---=+****##                     
                                             ::-==+==**                      
                                            -:::-==+****#            *****#  
                                            -:::===+****             ******  
                                             ++=-==*****             *****#  
                         -..:.           .    ::.-******             ......  
                      -..       .       . .       :**               +=--:--  
                    :.     .    .     ..          .:+**             +******  
                   :             .            .     .=**            -..::-=  
                  =.  ..   .        .              . ..-*           -......  
                  +.            .. .        .  .........=        =:......-=  
                   +.    .                .............=#     +-.......:+**  
                   **+...        ....................-+*   =:........:+***   
                   *****=:.......................:-+****  **+-:....:+***#    
                   **********+=--::::::::::--=++********  *******=+***#      
                     **********************************   #**********        
                      #******************************        #*****          
                         #************************                           
                               *#*********##*                                
        `,

        // frame 40
        `
                                                                             
                                              =-=--====--+=*                 
                                        -:..:-=++*********++====             
                                   =:::-+************************            
                              ::::=*****************************             
                          -:--=********************************#             
                       ::--+**********************************#              
                     ::-+**************  *+=======++++++******##             
                   :-=+***********  =---==++**#############******#*#         
                  ==+*********   =--=+**#######################*******#      
                ==+********   =--+****##############################*****    
                ++*******   =--+++***##*********##################********#  
               ++******    =-++++***************####***********************# 
               +****+*    -=********************#**************************# 
               ****++    ++*************************************************#
               ****++    +++++++****************#   ###**###############****#
               ***+++    *********#####******#          =+***######********* 
               ***+++*   #******************+=#       =--+****************** 
                **+++++   *****************#****+====--+*****************#   
                 **++++++  #*******************#******###**##############    
                   +++++++=+ *++***********************###############       
                    *++++++=--=*+++*******+++*********************##         
                      *+++++++=-::=*+**++++++++****************#             
                         +++++++++=--::.:--------==----=**#                  
                            *++++==+++====--:..........:             *++-:-  
                                 *+**++++++:........::::             ******  
                                           +++**********             *****#  
                         =+*****+=.    ..=+************#             *****#  
                      -..-*****-     :=**************               *:=****  
                    :.  -****+:    .=******************             -..=***  
                   :   :*****-     -********************            =******  
                  =..  -*****:     =********************#           *******  
                  +.  .-*****-     :*********************        ##********  
                   +. .-*****+.    .=*******************#      ************  
                   **+.:+*****=......=******************   #**************   
                   ************=......=*****************  **************#    
                   *************+-:::::-+***************  ************#      
                     **********************************   #*********#        
                      #******************************        #*****          
                         #***********************#                           
                               *#*******#*#*#     

        `,

        // frame 43
        `

                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                =:-:.::::::::---=           
                          -:.:::::::-----==========*       
                     -:..::=************************  
                ::::=******************************  
             -::+**********************************                          
           =-+********************+********************#     
          ++***********+----==++****###*#########*************      
         +********#   --=+***************#**#############*********           
         ******+     =+**********************************************   
         #****++*    ********#########***#****************************#      
          ****++++   ******##****************************************#**     
            **++++==- *****************=-=+       +=+***********####**#*     
             **++++++-==+++++++++++++++++==---------=*******************     
               **++++++=---=++++++++***********+***********************#     
                  *+++++++==-:---=+++++++**************************###       
                      *++++++++===-:::---=+++********************#           
                          *+++++++++++++====-::::::::::+##           :...:- 
                                 *+++*+++++::::::::::::*             =:...: 
                                          **++*****++++*             ****** 
                          *-:.    ..=+***********###***#             *****# 
                      #**+:     :+*******************               %****** 
                    #***-.    .+***********************             #****** 
                   ****=.    .+*************************            #****** 
                  #****:     -***********************++++           ******* 
                   ***+.     -*********************+:...=         *********  
                   ***+.    .-*********************+:..+#      ************  
                   ****:.    .+*********************++**   #**************   
                   *****=:....-*************************  **************#    
                   #*********+=+************************  ************#      
                     **********************************   #**********        
                      #******************************        #*****          
                         #************************                           
                               *#*#*****#*#*#                                
        `,

        // frame 57
        `
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                             ==                              
                                           :. .  ... .--                     
                      *-.   ...............==---:.     .=                    
                +: ....::-==+++++++++++++++****++++++=+**            :...:-  
            =.  .::=+++**+=:::.......:::::::::::-+*******            .....:  
         -.. ::=+****-:..............::..:::::::::::::=*#            :....:  
      -:  .:=****=:........   .  ......::::::::::::::::::-=         #......  
    ::  .:=*** -::::::::::::....  .-::--:::::::::::::::::::--       =....:-  
   :.  .:+** +:.:::::::::::::::-+*****+***+-::::::::::::::::--      =....::  
  :.   .+*   :..:::::::::::::::=+=:.     ..::--:::::::::::::::=     :.....:  
  :    .+   %....:::::::::::::::::..   ...:::::::::::----:::::-     -......  
 =-.   .-    -....:::::::::::::::::::::::-:----:-:::::::------+  =:......-=  
  =:..  .:   *-...::::::::::::::::-----:::--------:-::::::::-+*:.......:+**  
  +=:...  :=  *+-:.:::::::::::::::::::::::::::::::::::::::-=-........:+***   
   *+-::.......:++=::::::::::::::::::::::::--::::::::::-=+**=-:....:+***#    
    ***=-:::......-+++=--:::::::---------------::---=++** ******+=+***#      
      #***=---::.....::------==-----------====++*******   ***********        
        #***+=-----:::......=************************        #*****          
          ******++==========**********************                           
            *************+++*% *#*#*****#*##*                                
                #************                                                
                      #******                                                
                                                                             
    `,

    // frame 76
    `
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                             ==                              
                                           :.    .....--                     
                      +-.   ...............==---:..    .=                    
                =:  ...::-===+++++++++++++++*+++++++==++*          +:....:+  
            +.  .::-+++**+=-::::....::::::::::::-=*******        -:....:**   
         :.  .:=+****-:................::::::::::::::-=*#      -.....-***#   
      .:  .:=+***=:...........:::........:.::::::::::::::-- -:.....=***#     
    :.  .:=*** -:.....::::::::::::.:-::::::...:::::::::::::.....:=***#       
   :. ..:+** +-:.....::::::::::-=+*********-.:.:.::::::::.....:+***#         
  :.   .+*   ::......::::::----=+-.      ..:::::............-+***#           
  :.   .+    :......:.:::::----:::..    ...............-=++****#             
 =-.   .-    =........::::::-:-:::::::-:-==:.....:=+********=+*              
  =:..  .:   *=::....::::::::-::::-:::::-=++++*********+=--=*#               
  +=:...  :-  *+-:::.:.:::::-:::::::::::::-++*****+=------+*##               
   ++-::.......-++-::.:::--:::-------------=+=-------=+**#*#                 
    ***=::::......=++=---::--------------------=+***#####                    
      ***+=--::......:---=---====----------=*######***#                      
        #***+=-----:::......=************************                        
          ******++==========*********************#                           
            #***********++++*  *#*#*****#*###                                
                #************                                                
                     ###*****                                                
    `,

    // frame 90
    `
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                                                             
                                             ==                              
                                           :. .  ... .--                     
                      +-.   ...............==---:.     .=                    
                =:  ...::-==++++++++++++++++**++++++==++*           :....:+  
            +.  .::-+++**+=-::::.....:::::::::::-=*******         :....:+*   
         :.  .:=+****-:................::::::::::::::-=*#       :.....+**#   
      ::  .:=+***=:..........::::........:.::::::::::::::-=  -:....:+**#     
    :.  .:=*** -:....:::::::::::::.:-::::::...:::::::::::::::....:=***       
   :.  .:+** +-:.....::::::::::-=+****+**#+-::.:.::::::::......:=***         
  :... .+*   ::......::::::----=+-.      ..::::::-::::.......:=***#          
  :.   :+    :......:.:::::----:::..   ...::::::::::.......:=****            
 =-..  .-    =........::::::-:-:::::::---::............-=+****#              
  =:..  .:   *=::....::::::::-::::-:::::-=-.......:+********##               
  +=:...  .-  *+-:::.:.:::::-:::::::::::-=++--=**********#####               
   ++-::.......-++-::.:::--:::------------=++*******########                 
    ***=::::......=++=---::----------------+**###########                    
      ***+=--::......:---=---====---------=+#######****                      
        #***+=-----:::......=************************                        
          ******++==========**********************                           
            #***********++++*  *#*#*****#*#*#                                
                #************                                                
                     ##******                                                
    `


    ]


    // jukebox play animation
    const frameDuration = 300

    // play anim and load page
    function osStart() {
        let jukeboxEl = document.getElementById("jukebox-ascii")
        let animIndex = 0
        let animId = setInterval(() => {
            jukeboxEl.textContent = jukeboxFrames[animIndex]
            animIndex++
       }, frameDuration);

       setTimeout(() => {
           clearInterval(animId)
           loadPage()
        }, frameDuration * jukeboxFrames.length);
    }

    // todo: jukebox idle animation

    
</script>

{% endblock %}