{% extends "_base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="style.css">

<title>lain OS is offline</title>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="../favicons/v2/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../favicons/v2/favicon-32x32.png">

{% endblock %}

{% block body %}
<style>
      body {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: black;
        color: white;
        height: 100vh;
        margin: 0;
      }
</style>

<script>
    alert("you are offline")
    let logStyle = "color: red; font-size: 32px;"
    console.log("%cYOU", logStyle)
    console.log("%cCAN", logStyle)
    console.log("%cNOT", logStyle)
    console.log("%cLOG", logStyle)
    console.log("%cOFF", logStyle)
</script>

<pre>
                                       ▒▒
                                       ▒█
                                       ██
              ▒█▒           ▒██▒       ██
             ▒████▒        ▒▓▓▓█       ██
             ██ ▒▓▓▒       █▓▒██       ██
             ▒█  ▒▓█      ▒█▒ ▒▒      ▒█▒      ▒▒
             ▒█  ▒▓█      ██          ██▒      ██
             ██  ▒█▒      ██          ██              ▒▒
     ▒██▒    ▒█▒         ▒▒▓█████▒    ██       ▒▒     ▒██▒▒████▒           ▒▒
▒██████▓▓█▒ ▒▓▓█████▒   ▒▓█▓█▒▒▒▒▒    ██       ██      ▒▓▓██▒▒▒█        ▒██▓▓█▒
▒██▒▒▒▒  ▒█▓▒ ▒▒██▒▒▒▒▒   ▒▒██▒       ▓▓       ██▒      █▓▒   ▒█▒      ▒▓▓█▒▒██▒
█▓▒       ▒█▒   ▒▓▒         █▒        ██       ▓▓       █▓▒    ██     ▒▒█▓█▒▒██▒
▒██▒     ▒▒██   ▒▓▒         █▒        ▓▓       ██       ▒▓█    ▒█▒    ▒███████▒
▒▓▓███████▓▒    ▒██         ▒█▒       ██       ▒█        ██     ██     ██
  ▒▒▒▒▒▒▒▒▒      ▒█▒         █▒       ██       ▒█▒       ██     ▒█▒    ▒█▒
                  █▒          █▒      ██▒       ██       █▓▒     ██     ▒██▒
                  ▒█▒         ▒█▒     ██▒       █▓▒      ▒▓█     ██      ▒███▒
                  ▒██▒         ▒██▒   ▒█▒       ▒█▒       ▒▒     ▒▒        ▒████▒▒
                    ▒▒          ▒█▒    ▒▒                        

</pre>

{% endblock %}
