{% extends "_base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="v2.css">

<title>lain OS is online vol. 2</title>

{% endblock %}

{% block body %}

<style>
    pre {
        font-size: small;
        font-family: var(--mono-font)
    }
</style>
<pre>



.         .         .      .         .         .      .         .         .      
  ' ,     :     , '          ' ,     :     , '          ' ,     :     , '
      ' . ^ . '                  ' . ^ . '                  ' . ^ . '
        .&lt; &gt;.                      .&lt; &gt;.                      .&lt; &gt;.
    , '   v   ' ,              , '   v   ' ,              , '   v   ' ,
. '       :       ' .      . '       :       ' .      . '       :       ' .
          :                          :                          :
          |                          |                          |




          

                                            .
                                        , '
                                    , '
                                , '                    .
                            , '                    , '
                   :` ` , '.                   , '
                   ` ,   ;, ,              , '                     .
               , '     ' ,   ' ,       , '                     , '
           , '             ' ,   ' ; '                     , '
       , '                    ,; ,   ' ,               , '                     ,
   . '                    , '      ' ,   ' ,       , '                     , ' ;
                      , '              ' ,   ' ; '                     , '   .
                  , '                     .,',   ' ,               , '    . '
              . '                     , '      ' ,   ' ,       , '    . '
                                  , '          |  .' ,   ' ; '    . '                              .
                              , '              :  :    ';,   ' ;'                              , '
                          . '                  :  | , '  ..':;'  ' ,                       , '
                                               :  :  . '    :; ' ,   ' ,               , '
                                            , ':  |'        :,     ' ,   ' ,       , '
                                        . '  . |  :        ;;          ' ,   ' ;.'
                                          `    :  :       .;               ';,. ,'
                                               :  |       :.             , '   '
                                               |  :       ;'         , '
                                               :  :      ;:      , '
                                              ::;=:;;,, .;'  . '
                                               |  :    ';;
                                               :  |     ::
                                               :  :    ;;
                                               |  :    ;:
                                               .  :    ;.
                                               :  :   ;.
                                               .  :
                                                  .
                                                  .
         

                                       ·

                                       ·
                                       ·
                                       :
                                       ·
                                       :
                                       :
                                       ¦
                                      _|_
   ----  - -- --- ------=---=--=-====]   [====-=--=---=--------- --- -- -  -  -
                                      ¯|¯
                                       ¦   
                                       :      
                                       :        
                                       ·
                                       :
                                       ·
                                       ·

                                       ·

          /         \
         (  (     )  )
        (  {  / \  }  )
        < {  { O }  }  >
        (  {  \|/  }  )
         (  (  |  )  )
          \    |    /
               A
              /|\                                                
                                       

          +++++++++++++
      ++++    +   +    ++++
    ++       +  V  +       ++
  ++        +       +        ++
 +         +         +         +
+          +         +          +
+-+-+-+-+-+-+---0---+-+-+-+-+-+-+
+          +         +          +
 +         +         +         +
  ++        +       +        ++
    ++       +  A  +       ++
      ++++    +   +    ++++
          +++++++++++++


 ,-,-.
/ (_o \
\ o ) /
 `-'-'
 





 
</pre>

{% endblock %}