{% extends "_base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="../style.css">
<link rel="stylesheet" type="text/css" href="v2.css">

<link rel="preload" href="../fonts/JuliaMono-Regular.ttf" as="font" crossorigin>
<link rel="preload" href="../fonts/JuliaMono-ExtraBold.ttf" as="font" crossorigin>

<title>credits - lain OS is online vol. 2: club cyberia</title>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="../favicons/v2/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../favicons/v2/favicon-32x32.png">

{% endblock %}


{% block body %}

<style>
    #credits-container {       
        background-color: white; z-index: 10;
        padding-left: 30px; padding-right: 30px;
        overflow-y: auto;
    }
    ul { 
        padding: 0; 
    }
    li {
        list-style: none;
        padding: 5px;
    }
    li span {
        float: right;
    }
    li:hover, li:hover a {
        color: white;
        background-color: red;
    }
    p {
        line-height: 1.3;
    }
</style>

<pre class="bg-ascii">
-::...    ..::---::                                                                          .:-=++++++==-------=---===++***#########***+++=======-----:::...                                                .:=+++++=-:.   
===---::::::-====-:.                                                                      ..::-=+**####***++++++++==++++******#######***+++=====-----:::...                                                  .:-=+++=-:.    
++++++=======++++=-:                                                                   ..::-==+**#############****++************######***+++======----::..                                                    .-=====-:.    
+++*************++=:.                                                             ...::--==++***################*****************######****++++=====--::..                                                    :-====-:..    
++****########***+=-:                                                          ..::--=+++*****##################*****************#######******+++++==--::..                                                  .:-=====-:.    
++****##########**+=-.                                        ..:..           ..:-=+***#########################***++++++++******###########*****+++==--::..                                                .:-=++++=-::..  
=++***###########*+=-:.                                       .::::..        .::-=+*###########################***++++++++++****################****++==--::..                                             .:-=++**++=--:...
-==++**##########*+=-..                                        ..:::...    ..::-=+*############***############***+++++++++++***####################***+++==--:::..                                        .:-=++****++==-::.
.:--=++**########*=-:.                                          ..:::::....:::-==+*########**********#########***++++++++++***#########################****++==--::..                                   ..:-=++**##***+==--:
  ..:--=++*#####*+=-.                                            .::---:::::--==++***##***+++====++++****#####*****++++++****###############################***++==--:..                            ...::--=++*######***++=-
     ..::-=+*****+=:.                                             .::--------===+******+==---:----====+++++***********++*****##################################***+++==--::..                   ...::--===++**##########**++
         .:-=+**++=:.                                              .:--=======+++*****+=-:......:::-------==++****************#####################################****+++==--::............:::::--===++++***##############*
          .:-=+++=-:.                                               .:-==++++++******+=-:..     ...::.....::-==++*****++******#######*********############################***++===------=========+++++******################
           .:-=++=-:.                                                .:=++******####*+=-:.        ....     ..:--=+++++*******#######**********##################################**************************##################
            :-=++=-:.                                                .:-=+***#######*+=-:.                    .::-==++****##########*********###############################################################################
            .-==+==:.                                                 .:=+**########**+=-:.                     ..:-=++**############*******################################################################################
           .:-=+++=-.                                                  :-=+*#########**+=:..                      .:-=+**##############****#################################################################################
           .:-=+++=-:.                                                 .:-=+*#########**+-:.                       .:-=+*###############****##############********##########################################################
           .-=++++=-:.                                                  .:=+*##########*+=-:.                       .:-=+*##############*****************++======+++**************##########################################
           .-=++++=-:.                                                  .:-=*###########*+=-:.                      .:-=+*############****+++++===========---:::----==============++**######################################
           .:-====-:.                                                   ..-=+*###########*+=-:.                    .::-=+*##########****+++===---::::::::::.................::::::--=++*###################################*
            :----:.                                                      .:-=+*###########*+=-:.                ..::-=++*#########***+++===---::...                              ..::-=++**###############################**
            .::..                                                          .-=+*###########*+=-:.              ..:-==+**########**++===---::::..                                    ..:-==++*****########################***
            ...                                                             .:=+*##########**+=-:..            .:-=++*#########*++=--::.......                                         .:-==+++++*****##################****
            ..                                                               .:=+**########***+==-::..        ..:-=+**#######**+=-::..                                                  .::--=====+++***###############***++
                                                                              .:=++***###******++==---:::.....::-=++**####***+=--:..                                                     ..:::::---===+**###########****++==
                                                                               .-=++*************+++=====-----===++*******++=-::..                                                        ........::--=++*########***++==--:
                                                                               .:-=++++*+++++++++++++++++++++++++******++==-:..                                                                   ..::-=++**####****++=--::.
                                                                                .:==+++++++++===++++++++++**********+++=--:..                                                                       ..:-=++********++=--:.. 
                                                                                .:-==++++++====--=====+++++******++++==-::..                                                                         .::-=++*****+++=-::.   
         ..                                                                      .:-==+++++==--------====++++++++++===-::..                                                                          ..:-==++****++==-:.    
       ....                                                                       .:-==+++++==---------=======+++=====--::..                                                                          .::-=+++**+++=-:..    
    ..::::.                                                                        ..:-=+++++===-------======++++++++====-::.                                                                         .::-==+++++++=-:..    
   .:----:.                                                                          .:-==++++============++++++++++++++==--:.                                                                       ...::-===+++++==-:.    
  .:-====-.                                                                           .::-=======++++++++++**********++++==-::.                                                                    .....:::--=======--:.    
  .-=+++=-:.                                                                            .::----====++++++************+++++==--:.                                                              ..........::::--------::..    
  .-=++++=-.                                                                                ..:::--===++++++++++++++++++++++==-:..                                                         ..:::::::::::::::::::.....       
  :-=++++=-:.                                                                                    ..::------------========+++++==-:.                                                      .::--=======-------::...           
 .:-=++++=-:.                                                                                       .......  .......:::--==+++++==-:.                                                  .::-===++++++++++===--:..            
.:-=++*+=-:.                                                                                                           ..:-==++++==-::.                                              .::-==++++*********+++=--:.            
-=++****+-:.                                                                                                              .:-==+++===-::..                                        ..::--==++++************++=-::.           
++*####*+=-.                                                                                                               .:--=========--:...                                  ..::----====++++++++******+++=--:.          
+*######*+=:.                                                                                                               ..:-====+++++===---::.....                       ..::----------===++++=+++++++++++=--..         
+**######*+=:.                                                                                                                .:--==++++****+++===----:::::......     .....:::------:::::::--============+++++==-:.         
-+**#####**+=-:.                                                                                                               .::-==+++********+++======-------:::::::-----======--:::..:::--======----========-:.         
:-=+*####**++=--::.                                                                                                             ..:--==++*********++++++++============++++++++++===--:::::::--======-----------::.          
.:-=+*****++====---:.                                                                                                            ..::--=++***###*********++++++++++************+++==--::::::---=====----::::::..            
 .:-=+++++========--:.                                                                                                           ...::-==+**##########**************##########**+++===--::::::--------::::...               
  .-=+++++==---------:.                                                                                                         ...::--==+**####################################**+++==---::::::::::::...                   
  .:-=++++==--------::..                                                                                                      ..::---==++**######################################***+++==--:::.......                       
   .-==++++==-------:...                                                                             ...                   ...:--====++***########################################****++==---::...                          
   .:-=+++++=====--::... .................                                                     ....:::----::::......::::::::--==+++****############################################****++===---::..                         
    .:-=+++++++===--:.........::::---------::...           ...........                ...:::::::----===========--==========+++***##################################################***+++======--:..                        
     .:-==++++++++==-:::....::::--===+++++++++======----------==-----::::::::::::::::-----==========++++****+++++***********######################################################***+++======---::.                        
      .:-==++*****++==---::::---===+++****###########******++++++++=========-----------==========+++++**********###################################################################**++==---::::::..                        
       .:-=+***##****++====--====+++***#####################****++++====-----::::::::::::::----=====+++******######################################################################**++=--:::......                         
        .:-=+**#####****++++++++++***#######################***+++==--:::....          .......::::--===+++***#######################################################################**+=--:....                             
         .-=+**######*******++******#######################**++==--::..                         ...::--==++**#########################################################################*+=-::..                              
         .:-=++**********************#####################**+==-::..                              ..::-==++**###################################****++++****###########################*+=--:..                             
          .:--========+++++++===+++++*****###############**++=-:.                                 ..:--=++***##################################**+++====+++***##########################**+=-:.                             
            ..:::::::::-------::-----===+++++++++*********++=-:.                                ..::-==+++*****#################*******#######**++========++****#########################**+=-:.                            
                        ............::---============+++++++=-:.                             ...::--===+++++++++*****************+++******####**++=========+++++++****#######******#######*++=-:.                           
                                   ..:::-------:::::--===++==-:.                     ....:::::::--------------====++++*******++++++++++****##***++===========-----===++*****+++===+++*******++=-:.                          
                                  ...::----::...   ...:--====-:.                 ..:::---------::::::........:::--===+++****+++++++++++****###***++====----::.....:::-==+++==---:::---==++++++==-:.                         
                                 ..::-----:..          .::---:..              ...:::----====--::..          ...::--==+++++*+++++++++++****####***+==---::..         ..:--==-::.........::-===++==-:.                        
                               ..::------:..             .....              ..........::::-:::..            ..::---====++++++++++++++****#####**++=-::.              ..::-::..           .::-=====-:.                       
                            ...::::---:::..                                               ....             ...::-----=====++++++++++++***#####**+=-:.                 ..:::.               .:--==+==:.                      
                          ....:::::....                                                                   ...::::::----=======++++++++++**###**+=-:.                   .....                 .:-=++==:.                     
                           .....                                                                        .........:::---=======+++=====+++******+=:.                    ....                   .:-=++=-:                     
                                                                                                        .........:::--==+++++++++++===+++*****++-:.                    ....                    .:==++=-:                    
                                                                                                           ...:::---==+++++***++++++++++******+=-:.                    ....                     .:-====-.                   
                                                                                                           ..::--===++++*****************###**+=-:.                   ..::.                      .:-===--.                  
                                                                                                          ..:-===+++++++++**********#########**=-:.                   ..:..                        .:-----:.                
                                                                                                         .::-=++++++++===++++*****############*+-:.                   .....                         ..:----:.               
                                                                                                       ..:-==++++++===----===++***############*+=:.                   ....                            ..:---::.             
                                                                                                      .:--=++**+++==-:::::--===++**###########*+=-:.                 ..::..                             .::--::.            
.                                                                                                   ..:-=++****++=--::...:::--==++**##########**+=-:.               ..::::.                              .::--::.           
:.                                                                                                .:--=++*****++==-::.....:::--==++*##########**+==-:..            ..:---:.                               .::--::.          
-:.                                                                                             .:-=+***###***+===--:::...:::--==+++**********++++==--::...       .::-==--:.                               ..:---:..        
=-:.            .....                                                                         .:-=+*########**++==---:::::::----======================---:::......:-=====-:.                                .::----:.       
==-:.         .::--::.                                                                     .::-=+*###########**++====-------------::::::......::--=========--::::--==+++==:.                                 .:-====-::..   
===--:..    ..:-===-:.                                                                  ..:-==+*#############***+++=====--::::....              .::-==++++++=======++**++=-:                                  .-==+++==--:. 
-====--::::::--====-:                                                                ...::-=++*#############**++======--::...                     ..:-=++******++++*****++-:.                                 .:==+***++=-:.
:-======----======-:.                                                           .......::--=++*##########*++=--:::::::...                           .:-=+***####****###**+=:.                                 .:=+***#**+=-:
 .:-==+++++=======-.                                                          .::::::::::--==+**######**+=-:..                                        .:=+*#############*+=-.                               ..:-=+**###**+=-
  .:-=+++*++++++=-:.                                                          .:----::.:::-==++******+=-:.                                             .:=+*#############*+-:                             ..::-==+***##**+=-
   .:-=+*****+++=-:.                                                          .:---:::..::--==++***++=:.                                                .:=+*#############*+-.                            .:--==++********+=
    .:-+*******++=:.                                                          .:::::......::-=++**+=-:.                                                  .:-=+*############*+-:                           .:-==++++********+
     .:=+*******+=-.                                                           .....     ..::-=++++=:.                                                    ..:-=+*###########*+=:.                         .:-=++++**********
      :-=+**###**+=:.                                                                      .:-=+++=-.                                                        .:-=+*###########*=-:.                       .:-=++******######
      .-=+**#####*+-.                                                                      .:-====-:                                                           .:=+*###########*+=:..                    .:-=++****#########
      .:-+**######+=:                                                                       .--==-:                                                             .:-=*############*+=-:..               .:-==+*****##########
       :-=+*######*=-.                                                                     .:----:.                                                              .:-=*############**+=--:..        ...:--=+*****############
       :-=+*######*+-.                                                                     .:---:.                                                                .:=+*#############**++=--::::::::---==+**#################
       :-=+**######+=:                                                                     .:---:                                                                 .:-=+*###############**+++=====+++++***###################
       .:==+*######*=-.                                                                    .:--:.                                                                 .:-=+*####################*******#########################
       .:-=+*######*+=:.                                                                   .:--:.                                                                 .:-=++**##################################################
        :-=+**#####**+=:.                                                                 .:---:.                                                                 .:--==+++********#########################################
        .-=+***####***+=-:.                                                              .:----:.                                                                 ..:::--===++*******#################################****++
        .-=++*****###***+=-:..                                                      ....::--==-:.                                                                      ...:-==+++****############################***++===---
        .-=++*****######**+=-:..                                                   ..::::-====-:.                                                                         ..:-=++****#########*******#########**++==-:::....
        .-==++*****######*++=-::.......                                            .::---=====-:.                                                                           .:-=++****###****+++++++++*******++=--::..      
        .:-=+++*****####**++=-::::::::...                                          .:--====+==-:.                                                                            .:-=++*******++====---===++++++==-::..         
        .:-=++++++++******++=-::::::::::.                                          .:-==+++++=-:.                                                                             .:-=+******+==---:::::--=====--:.             
        .:-==++++=====++++++=--::::----:.                                          .-=+++++++=-:.                                                                               :-=+****+==-:::....:::-----:.               
        .:--======----==+++++==--:---=--:.                                         :-=++***++=-:                                                                                 :-=+++++=-::.........:::..                 
        .::------::::::-==++++==----===-:.                                         :-++****+==:.                                                                                 .:=+++++=-::....                           
        .::----:::.....:-==++++===-=====-:                                        .:=+*****+=-:.                                                                                  :-=+++==-:...                             
        .:::::::..    ..:-=+++++======+==-.                                       .-=*****++=:.                                                                                   .-==+==-:..                               
        ..::::...       .:-=++++++==++++==:.                                     .:=+*****+=-:                                                                                    .:====--:.                                
        ......           .:=++***++++++++=-.                                     .-+**##**+=:.                                                                                    :-====-:.                                 
        .....            .:-=+***********+=:                                    .-=**###**+-:                                                                                    .:-====-:.                                 
       .....             .:-+**###*******+=:.                                  .-=+*####*+=-.                                                                                   .:-=++++=-:.                                
       ....              .:-+**########**+=-:                                .:-+**#####*+-:                                                                                    .-=++++++=-:.                               
                         .:=+**########***+=-.                             .:-=+*######**=-.                                                                                   .:-=++**++=-:..                              
                         .:==+**######****+==:.                           .:=+*########*+-:                                                                                  ..:-==++++++=-::.                              
                        ..:--=++**###*****++=-:.                         .:=+*#########*=:.                                                                                 ..::-==+++++==-::.                              
                        ...:::-=++*******+++==-:..                      .:-+*#########*+-.                                                                               ..:::---===+++==--::..                             
                            ...:-=+*****+++===--::..                   .:-=+*#########+=:.                                                                      .....::::------====++++===--::...                           
                               .:-=+***++===----::::..                .:-=+*#########*+-:                                                                      ..::----==========+++++++==---::...                          
                  ..            .:=++**++=--::::::::::::..          .:-==+**########*+=-.                                                                     ..::---===+++++++++*****+++==----:::...                       
</pre>

<div id="credits-container">
    <ul>
        {% for artist in artists %}
        <li>
            {{ artist.name }}&nbsp;&nbsp;&nbsp;
            <span>
                {% set ig_link = "https://www.instagram.com/" + artist.ig  %}
                {% set other_link_text = artist.other.split('www.')[1] %}

                {% if artist.ig != '' %}
                    <a href={{ ig_link}} target="_blank">@{{ artist.ig }}</a>
                {% endif %}

                {% if artist.bc != '' %}
                    <a href={{ artist.bc }} target="_blank">bandcamp</a>
                {% endif %}

                {% if artist.sc != '' %}
                    <a href={{ artist.sc }} target="_blank">soundcloud</a>
                {% endif %}

                {% if artist.other != '' %}
                    <a href={{ artist.other }} target="_blank">{{ other_link_text.split('.com')[0] }}</a>
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </ul>

    <br>
    <p>
    Mastered by Nerve<br>
    Cover Art by Simone<br>
    Curated by Anlin and Gavin<br>
    <br>
    Website by Muon<br>
    <a href="https://github.com/internetisgone/lain-os-is.online" target="_blank">Source code</a>
    </p>
</div>

{% endblock %}