{% extends "_base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="../style.css">
<link rel="stylesheet" type="text/css" href="v2.css">

<title>lain OS is online vol. 2</title>

{% endblock %}

{% block body %}

<!-- <pre class="bg-ascii" style="top: 10px;">
  .         .         .      .         .         .      .         .         .      .         .         .      .         .         .      .         .         .      
    ' ,     :     , '          ' ,     :     , '          ' ,     :     , '          ' ,     :     , '          ' ,     :     , '          ' ,     :     , '

        ' . ^ . '                  ' . ^ . '                  ' . ^ . '                  ' . ^ . '                  ' . ^ . '                  ' . ^ . '
          .&lt; &gt;.                      .&lt; &gt;.                      .&lt; &gt;.                      .&lt; &gt;.                      .&lt; &gt;.                      .&lt; &gt;.
      , '   v   ' ,              , '   v   ' ,              , '   v   ' ,              , '   v   ' ,              , '   v   ' ,              , '   v   ' ,
  . '       :       ' .      . '       :       ' .      . '       :       ' .   . '          :       ' .      . '       :       ' .      . '       :       ' .
            :                          :                          :                          :                          :                          :
            |                          |                          |                          |                          |                          |
</pre> -->

<pre class="bg-ascii">
.                  .%%%%%%%%%%%%%%%%%%%%%%#%#%#*%@@@%%%#%%%%%#%%%%%%%#%%%%*##########%%%%%%%%%**%%%%%%%%%**%%%%%%%#*#%%%%%###%#%%##.    .             .
                   .@%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%####%%%%= .#%%%###%%%%%%%%%%%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%####..
     .        .   ..@%#%##%%%%%%%%%%%%%%%%%%%%%%%%%%%##%%#%*.  -%%%%%*%%%%%%%%%%%%%%##%%%%%##%%%%*****%%%%%%%%%%%#%#%%%%%%%%%%%####+             .
                   +@%%########%**%%%%%%%%%%%%%#%%#%%#=%%#*-    -%%%%%%%%%%%%%%%%%%%%%%%%%%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%###%
                  ..@%%%%%%%%##%%***%%%%%%%#%###%%##%::%%#+:     %%#**%%%%%%%%%%%%*%%%%%%%%%%%%%%%%%%%%%%%%%%%##%%%%%%%%%%%%%%%%##%..  .
        .          .@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#%* .#%*+. .   #%%#+#%%%%%%%%%%%%**%%%%%%%%%%%%%%%%%%%%%%%%%%######%%%%%#%#%%%##% .                 .
        ..      .  +@%%%%%%%*%%%%%%%%%%%%%%%%%%%%%%#: :##+=.     +%#+=#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*####%#%%#%%##%.       .    . ..
                 .  @%##%%%%***%%%%%%%*%%%%%%%%%%%%*  .#**-.     :%#:=#%%%%%%%%%%%%%%%#%##%%%%%%%***%**%*%%%%%%%%%%%*%%%%%%%%%%##%%         .
                  . @%%##%%%%%%%%%%%%%%**%%%%%%%%#%:   #:+:       ## :*%%%%%%%%%%%%%%%#######%%%%%%%%%%%%%%*%%%%%%%%%%**%%%%%%%##%%.
       .           +@@%%%%###%%##%%%%%%%*%%%%%%%%%*   .# :.       #*  +%%%%%%%#%%%%%%%%%%%%****%%%%%*######%%%%%%%%%%***%%%%%%%%##%.             .
.                  .@@%%%%%%%%%%####%%%%%+%%%%%%%#:   .=          #+  :*##%%%%%%%%%%###%##%%%%%%%*****%%%%%%%%%%%%%%%%**%%%%%%%%#%%.            .
                  . @@%%%%%%%%%%%%%%%%%%%%%%%%#%##     -          #:   *#%%##%%%%%##%##%%#%%#%%%%%%%%%%%#*%#%%%%%%%%***%%%%%%%%###%  .
             .      @@%%%%%%%%%%%%%###%%%%%%%%%#%#        .       *  . =*#%#*%####%##%%#%%###%##########++%#%%%%%%%%%+**%%%%%%####%..
       .     .     .@%@%%%%%%%%%%%%%%#%%%%%%%%%#%#.               =.    +#-   *###%%#%*=%%%%#++%####%###--###*%%%%%%%*%%%%%%%%%%%#%.          .
               .   .@%%%%%%@%%%%#*%#%%#%%%%%%%%%%*     .      .   . .   -=  .  -#####%::%#:+#  .*#::#%##.:*##*%%%%%%**%%#%%%%#*##%%.               .
                   .@%%%**%%%%%%%%%%%%##%%%##*%%%* .  .=--=++******+.    -       =%##* .##==******+=+*%*-:+##%%%%%%***%%%%######%%#+               .
                  ..@%%%%+*%%%%%%%%##%=.##-   :#%#+=-:--==:..         .-:          =#-  =*........:::=++++*###%%%%%**%%%%%##*###%##
    .               %%%%%****%%%%%%%%#-     :--=:.        .                             .::=-:..:---....::-+##%%%%%%%%%%%%%##%%%%%#         .
     .  .        . .@%%#%%%%*+%%%%%%%%.               .      .              .          .   :----.      ..:::=#*%%%%%%%%%*##*##%%%%+         .
.        .         .@%%%%%%%%%%%%%%###-.    .     .-=-----..   :-           .. .          .:-=-.   .:-:-=**+-+**=:-#%***##%%%*#%%#.   .               .
.        .          %%%%%%%%%%%@%%##@%=    .:   :=+*###******-:-=.                         .--=-:.-+*+=-=+##**+#*= .*#**#*    #%%:  .
                    @##%%%%%%%%%*%%%*%*   .   -+=:+******#++=+----                        :-:.. .:.=#%##**=*##*#+++. -***  .  #%=
                    : =#%%%%%%%%%##% .=     .-=- .-*+++**%#*++                            ..    .. -#%%#+=::**###***- .-  +   .+
            .       :  :#####%%%+%#%*       --..=+*+*+++#%#*=+.         .                    .. .=*#%%%*+**++**#+##*++  .#*    =                .
    .              .#=    .++:## :%+            :*#+++*%%#*=*-.                                  :+#%%%##+::==+*##***: ..*=                   .
                   .@%*-      ... =.            .-=*###**+++=: ..   .     .                     :++**++=-=+==*+++=**.:*=.:= . .             .
                   .@%###=                       :-.:+=:.      .  .       . .                 .     .    .:.    :+= =####:
                    %%#%%%###*-                                                                                 :*++**###+      .                 .
                  . %#####%%%%##.   ..   .    .                 .        .           .                          =**######*                      .
.          .        %###%#*%####*                                                                               +###*#%%#+
                    %*##%%####%#*-.                                                                      .     :*##*###%#+          .      .
                 .  %*#%#%####%###   .      =-    .                                     .            .        .+#######%%+        .
                    %#%#%%##%%%%%#-         :.  .                .                   .                       .+###%*##%%%=
                    %%%%%%#*%%%%%%*                    .                             .                      .*####%####%%-               .
      .        .    %%%%%%%##%%%%%%-           .  ..    .                     .      .        .         . .:#%#########%%:             ..             .
        .          .@%%%##%%%##%%%#%:     .                                .        .--     .            .:#########%%%%%.
                   .@%###*-.*%%%#%%%#       .        . .                  .  ..     =+=                ..=%###%%##%%%%%%*    .
                    + . :#: =#%#%%%#%   ..            ..             .      .       :+=               .:*%####%%#*%%%%%**              .
                    .    =.  -%#%%%%%:                                                            ..  *%%#######%%*%%%%*+   .
                          :.     +%%%:        :           .                                 .       *%%#########%%%%%%%*-        .             .
 .              .                  +#     .  :-:.      .    .                          .         .*##%###%%%##%*%%%%%%%*:  .
                                    :.       .:=**:                    .                        +###=*%#%%%%%%*%%%%%%%%*
                                              .::*#*-.              ..       . .   .          +##+:  :#%%%=.#:.#%%%%%%**
                                                .=*###*-                     . .            ++*#-     *%%= .   #%%%%%%%*     .  .                 .
                    .  .                         .=*%%%%%+:.      .           .          :+:  +*      :%%      +*%%%%%#+

</pre>

<pre class="bg-ascii" style="left: 0; top: 0; display: none;">
                                            .
                                        , '
                                    , '
                                , '                    .
                            , '                    , '
                   :` ` , '.                   , '
                   ` ,   ;, ,              , '                     .
               , '     ' ,   ' ,       , '                     , '
           , '             ' ,   ' ; '                     , '
       , '                    ,; ,   ' ,               , '                     ,
   . '                    , '      ' ,   ' ,       , '                     , ' ;
                      , '              ' ,   ' ; '                     , '   .
                  , '                     .,',   ' ,               , '    . '
              . '                     , '      ' ,   ' ,       , '    . '
                                  , '          |  .' ,   ' ; '    . '                              .
                              , '              :  :    ';,   ' ;'                              , '
                          . '                  :  | , '  ..':;'  ' ,                       , '
                                               :  :  . '    :; ' ,   ' ,               , '
                                            , ':  |'        :,     ' ,   ' ,       , '
                                        . '  . |  :        ;;          ' ,   ' ;.'
                                          `    :  :       .;               ';,. ,'
                                               :  |       :.             , '   '
                                               |  :       ;'         , '
                                               :  :      ;:      , '
                                              ::;=:;;,, .;'  . '
                                               |  :    ';;
                                               :  |     ::
                                               :  |    ;;
                                               |  :    ;:
                                               .  |    ;.
                                               :  :   ;.
                                               |  :
                                               :  :
                                               :  |
                                               :  :
                                               :  |
                                               .  :
                                               :  :
                                               .  : 
                                               .  . 
                                                  .
                                                  .
</pre>

<pre class="bg-ascii" style="bottom: 0; right: 30px; display: none;">
                 '. /                      '. /
             - - - /,- - -             - - - /,- - -
             .    /  '.                .    /  '.
              '. /                      '. /
          - - - /,- - -             - - - /,- - -
          .    /  '.                .    /  '.
           '. /                      '. /
       - - - /,- - -             -     /,         '. /
       .    /  '.        '.      .    /  '.   - - - /,- - -
        '. /         - - - /- - - ', /        .    /  '.
     = = =/.= = =    .    /    = = =/= = =     '. /
    .    /  '.        '. /    .    /',     - - - /,- - -
     '. /         - - - /,- - -'. /   '    .    /  '.
  - - -/.- - -    .    /  '.- - -/.- - -    '. /
      /  '.        '. /    \\   /  '.   - - - /- - -        '. /
  \\ /.        - - - /,- - -\\ /.       .    / ',       - - - /,- - -
   \/.         .    /  '.    \\          '. /    .      .    /  '.
    \\          '. /         - - -    = = =/= = =        '. /
     \\      = = =/.= = =    . \\ /  .    /',        - - - /,- - -
      \\    .    /  '.        '.\/    '. /   .       .    /  '.
       \\    '. /         - - - /,-- - -/.- -         '. /
        \\- - -/.         .    /  '    /  '.      - - - /,- - -
         \\ . /  '.        '. /   \\  /.          .    /  '.
          \\ /.        - - - /,- - \\/.            '. /
           \\.         .    /  '.   \\          = = =/.= = =
            \\          '. /         \\        .    /  '.
             \\      = = =/.= = =     \\        '. /
              \\    .    /  '.         \\    - - -/.- - -
               \\    '. /               \\       /  '.
                \\- - -/.- - -           \\     /.
                 \\ . /  '.               \\   /.
                  \\ /.                    \\ /
                   \\.                      \\
                    \\                       \\
                     \\                       \\
                      \\                       \\
                       \\                       \\
                        \\                       \\
                         \\                       \}
                          \}
</pre>

<div class="mini-window" id="music-player">
    <div class="mini-window-header">~ lain-amp ~
        <div class="mini-window-close">X</div>
    </div>
    <div class="mini-window-draggable"></div>
    
    <div id="music-player-top-container">
        <audio id="cur-track"></audio>

        <div id="top-display">
            <!-- <img id="cur-track-state"></img> -->
            <div class="cur-time" id="big-cur-time">00:00</div>
            <div id="visualiser-wrapper">
                <canvas id="visualiser"></canvas>
            </div>
        </div>

        <div id="now-playing">
            <p id="cur-track-name"></p>
            <p id="cur-track-name-clone"></p>
            <div>
                <p id="audio-stats">320 KBPS 48 KHZ &nbsp;&nbsp; stereo</p>
                <input id="volume-slider" type="range" min="0" max="100" value="77" step="1" oninput="setVolume()" onchange="onFinishSettingVolume()" aria-label="volume slider">
            </div>
        </div>

        <div id="progress-bar">&nbsp;/---------------------------------------------/&nbsp;
            <span id="progress-bar-playhead">=v=</span>
        </div>

        <div id="playback-controls">
            <pre style="position: absolute;">
   /  .. / .-.. --- ...- . / -.-- --- ..- 
 //     /     //    /     /     '   
 /     /     /     /     /     /    <button id="loop-btn" disabled onclick="switchLoop()"aria-label="change loop mode">loop</button>      
      //    /     //    /     /            <button id="dl-btn" disabled aria-label="mediafire download">dl</button>
 `---'`----'`----'`----'`----//    <button id="shuffle-btn" disabled onclick="toggleShuffle()" aria-label="change shuffle mode">shfl</button>
                            /
                           / 
            </pre>
            <div id="playback-controls-click-area">
                <button onclick="prevTrackV2()" aria-label="prev">&#x23EA;</button>
                <button onclick="playTrackV2()" aria-label="play">&#x23F5;</button>
                <button onclick="pauseTrackV2()" aria-label="pause">&#x23F8;</button>
                <button onclick="stopTrackV2()" aria-label="stop">&#x23F9;</button>
                <button onclick="nextTrackV2()" aria-label="next">&#x23E9;</button>
            </div>
        </div>

    </div>


    <div id="artist-links-container">
        <pre>
   /                                      /
 //                                      /
 /                                      //
                                       /
                                      /
</pre>
        <a id="artist-links" target="_blank"></a>
    </div>

    <div id="tracklist-container">
        <ul id="tracklist">
            {% for track in tracklist %}
                <li>{{ track.name }}<span style="float: right;">{{ track.duration }}</span></li>
            {% endfor %}
        </ul>
    </div>

    <div id="music-player-bottom-container">
        <div id="mini-stats-container">
            <div id="mini-total-time"><span id="cur-track-duration">00:00</span>/73:43</div>
            <div id="mini-controls">
                <div id="mini-controls-btns">
                    <button onclick="prevTrackV2()" aria-label="prev">&#x23EA;</button>
                    <button onclick="playTrackV2()" aria-label="play">&#x23F5;</button>
                    <button onclick="pauseTrackV2()" aria-label="pause">&#x23F8;</button>
                    <button onclick="stopTrackV2()" aria-label="stop">&#x23F9;</button>
                    <button onclick="nextTrackV2()" aria-label="next">&#x23E9;</button>
                </div>
            </div>
            <div class="cur-time" id = "mini-cur-time">00:00</div>
            <!-- <pre>
                  /
          /      / 
   /     /      /
  /     /      //
 //    //     //
</pre> -->
       <pre> 
                           /
                          /
       .    /            /
        '. /       .    / 
    - - - /,- - -   '. /
    .    /  '.  - - - /,- -
     ', //     .     /  '.
</pre>
       </div>
    </div>
</div>

<div class="mini-window" id="terminal">
    <div class="mini-window-header">~ terminal ~
        <div class="mini-window-close">X</div>
    </div>
    <div class="mini-window-draggable"></div>

    <div id="terminal-content">
        <pre id="terminal-ascii-art">
.__         .__        ________    _________
|  | _____  |__| ____  \_____  \  /   _____/
|  | \__  \ |  |/    \  /   |   \ \_____  \ 
|  |__/ __ \|  |   |  \/    |    \/        \
|____(____  /__|___|  /\______vol. 2 _____ /
          \/        \/         \/        \/   
        </pre>
       </div>
    <div id="terminal-input-container">
        <span id="terminal-prompt">lain@navi ~ %&nbsp;</span>
        <!-- <span id="fake-caret">&nbsp;</span> -->
        <input type="text" id="terminal-input" maxlength="33" aria-label="terminal input field">
    </div>
</div>

<div class="mini-window" id="version-history-window">
    <div class="mini-window-header">~ version history ~
        <div class="mini-window-close">X</div>
    </div>
    <div class="mini-window-draggable"></div>		

    <div id="version-history-container">
        <pre id="version-history-texts">
{% for entry in version_history_entries %}
 {{ entry.version }}<span>{{ entry.date }}</span>
 {{ entry.description }}
{% endfor %}
        </pre>
    </div>
</div>

<div class="mini-window" id="chat-window">
    <div class="mini-window-header">~&nbsp;<a href="https://lain-os-is-online.chatango.com/" target="_blank">chat&#x2934;</a>&nbsp;~ 
        <div class="mini-window-close">X</div>
    </div>
    <div class="mini-window-draggable"></div>		
    <div id="chat-container"></div>
</div>


<div id="icons-container">
<pre class="icon">
 .---.
/ (   \
\   ) /
 `---' 
</pre>
<!-- <pre class="icon">
  /         \
 (  (     )  )
(  {  / \  }  )
< {  { O }  }  >
(  {  \|/  }  )
 (  (  |  )  )
      / \    
</pre> -->
<pre class="icon">
  +----.
 / >_  /
/ >_  / 
`----+  
</pre>
    <pre class="icon">
   .
\ \|/ /
 \ ! /
   ^ 
</pre>
    <pre class="icon">
,^---^+
| ^ ^ :
:     |
`-----'
</pre>
</div>

<script type="text/javascript" src="../shared.js"></script>
<script type="text/javascript" src="v2.js"></script>


{% endblock %}