{% extends "_base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="v2.css">

<title>lain OS is online vol. 2</title>

{% endblock %}

{% block body %}

<style>
    body {
        width: 100vw;
        height: 100vh;
    }
</style>
<div class="mini-window" id="terminal">
    <div class="mini-window-header">terminal
        <div class="mini-window-close"></div>
    </div>
    <div class="mini-window-draggable"></div>

    <div id="terminal-wrapper" style="position: absolute; bottom: 0;">
        <div id="terminal-input-container"> 
            <input type="text" id="terminal-input" maxlength="33" aria-label="terminal input field">	
        </div>
    </div>

</div>

<div class="mini-window" id="version-history-window">
    <div class="mini-window-header">version history
        <div class="mini-window-close"></div>
    </div>
    <div class="mini-window-draggable"></div>		

    <div id="version-history-container">
        <pre id="version-history-texts">
{% for entry in version_history_entries %}
 {{ entry.version }}<span>{{ entry.date }}</span>
 {{ entry.description }}
{% endfor %}
        </pre>
    </div>
</div>


<div id="icons-container">
    <div class="icon">
        <img src="img/light.jpeg"></img>
    </div>
    <div class="icon">
        <img src="img/light.jpeg"></img>
    </div>
</div>

<script type="text/javascript" src="../shared.js"></script>
<script type="text/javascript" src="v2.js"></script>


{% endblock %}