{% extends "_base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="style.css">

<title>lain OS is online vol. 2</title>

{% endblock %}

{% block body %}

<p id="soon">			
    <a href="https://www.nts.live/shows/bloodz-boi/episodes/bloodz-boi-1st-july-2024" target="_blank">coming soon</a>
</p>

<style>
  pre {
    font-family: "JuliaMono", "Courier New", monospace;
  }
</style>
<!-- based on https://github.com/zlw9991/lain-ascii -->
<div id="lain-ascii">
<pre style="display: none;">
  ....................................
  ..........████████████████..........
  ........█████████████████████.......
  ......████████████████████████......
  ......█████████████████████████.....
  ....████████████████████████████....
  ....████████████████████████████....
  ....████████▒▒██▒▒██▒▒██████████....
  ....██████▒▒░░██░░██░░██▒▒██ █ █....
  .....███▒▒░░░░░░░░░░░░░░░░███ ██....
  ......██▒▒░░░░░░░░░░░░░░░░██ █ █....
  .......███░░████░░░░████▒▒██████....
  ........██▒▒░░░░░░░░░░▒▒▒▒██████....
  ............▓▓████████▓▓....████....
  .........▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒...██.....
  ........▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒..........
  ........▓▓▓▓██▒▒▒▒▒▒▒▒▓▓▓▓▓▓........
  ........▓▓▓▓▒▒██████▒▒▓▓▓▓▓▓........
  ......▓▓▓▓▓▓▒▒██▒▒▒▒▒▒▓▓▓▓▓▓▓▓......
  ......▓▓▓▓▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▓▓▓▓......
  ....░░░▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒▒▒▒▒░.....
  ...░░░░░▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒░░░.....
  ......██▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██......
  ....█████░░░░░░█████░░░░░░██████....
  ....████░░░░░░░████░░░░░░░░█████....
  ......█████████████░░░░░░░░░██......
  </pre>
  <pre>

    



            ████████████████          
          █████████████████████       
        ████████████████████████      
        █████████████████████████     
      ████████████████████████████    
      ████████████████████████████    
      ████████▒▒██▒▒██▒▒██████████    
      ██████▒▒░░██░░██░░██▒▒██ █ █    
       ███▒▒░░░░░░░░░░░░░░░░███ ██    
        ██▒▒░░░░░░░░░░░░░░░░██ █ █    
         ███░░████░░░░████▒▒██████    
          ██▒▒░░░░░░░░░░▒▒▒▒█████     
                             ████     
  ............................██......
  ........▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒..........
  ........▓▓▓▓██▒▒▒▒▒▒▒▒▓▓▓▓▓▓........
  ........▓▓▓▓▒▒██████▒▒▓▓▓▓▓▓........
  ......▓▓▓▓▓▓▒▒██▒▒▒▒▒▒▓▓▓▓▓▓▓▓......
  ......▓▓▓▓▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▓▓▓▓......
  ....░░▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░....
  ....░░░░▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒░░░░....
  ........▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒........
  ......████░░░░░░████░░░░░░████......
  ....███░░░░░░░░░████░░░░░░░░░███....
  ....███░░░░░░░████████░░░░░░░███....
  ......████████████████████████......
  </pre>
  <pre style="display: none;">
  ....................................
  ..........████████████████..........
  ........█████████████████████.......
  ......████████████████████████......
  ......█████████████████████████.....
  ....████████████████████████████....
  ....████████████████████████████....
  ....████████▒▒██▒▒██▒▒██████████....
  ....██████▒▒░░██░░██░░██▒▒██ █ █....
  .....███▒▒░░░░░░░░░░░░░░░░███ ██....
  ......██▒▒░░░░░░░░░░░░░░░░██ █ █....
  .......███░░████░░░░████▒▒██████....
  ........██▒▒░░░░░░░░░░▒▒▒▒██████....
  ............▓▓████████▓▓....████....
  .........▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒...██.....
  ........▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒..........
  ........▓▓▓▓██▒▒▒▒▒▒▒▒▓▓▓▓▓▓........
  ........▓▓▓▓▒▒██████▒▒▓▓▓▓▓▓........
  ......▓▓▓▓▓▓▒▒██▒▒▒▒▒▒▓▓▓▓▓▓▓▓......
  ......▓▓▓▓▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▓▓▓▓......
  .....░▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░....
  .....░░░▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒░░░░░...
  ......██▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██......
  ....██████░░░░░░████░░░░░░██████....
  ....█████░░░░░░░░███░░░░░░░█████....
  ......██░░░░░░░░░█████████████......
  </pre>
  <pre style="display: none;">
  ..........████████████████..........
  ........█████████████████████.......
  ......████████████████████████......
  ......█████████████████████████.....
  ....████████████████████████████....
  ....████████████████████████████....
  ....████████▒▒██▒▒██▒▒██████████....
  ....██████▒▒░░██░░██░░██▒▒██ █ █....
  .....███▒▒░░░░░░░░░░░░░░░░███ ██....
  ......██▒▒░░░░░░░░░░░░░░░░██ █ █....
  .......███░░████░░░░████▒▒██████....
  ........██▒▒░░░░░░░░░░▒▒▒▒██████....
  ............▓▓████████▓▓...████.....
  .........▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒..██......
  ........▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒..........
  ........▓▓▓▓██▒▒▒▒▒▒▒▒▓▓▓▓▓▓........
  ........▓▓▓▓▒▒██████▒▒▓▓▓▓▓▓........
  ......▓▓▓▓▓▓▒▒██▒▒▒▒▒▒▓▓▓▓▓▓▓▓......
  ......▓▓▓▓▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▓▓▓▓......
  ....░░▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░....
  ....░░░░▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒░░░░....
  ........▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒........
  ......████░░░░░░████░░░░░░████......
  ....███░░░░░░░░░████░░░░░░░░░███....
  ....███░░░░░░░████████░░░░░░░███....
  ......████████████████████████......
</pre>
</div>

<script type="text/javascript" src="../shared.js"></script>
<script type="text/javascript" src="v2.js"></script>


{% endblock %}